{% extends "base.html" %}
{% block title %}Proyecto MSX - Inicio{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Inicio</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Haz click sobre el logo de MSX</h2>
        </header>
        <div class="tm-logo">
            <a href="/juegos"><img src="../static/img/msx.png" alt="msx_logo" width="252" height="112"></a>
          </div>
    </section>
</div>
{% endblock %}