{% extends "base.html" %}
{% block title %}Proyecto MSX - Juegos{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Juegos</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Buscador de juegos</h2>
        </header>
    </section>
    <form action="/juegos" method="POST">
        <input type="text" id="buscador" name="buscador" placeholder="Introduce el nombre de un juego..." style="border: 2px solid #e5b3fe; width: 30%;">
        <button type="submit" style="background-color: #e5b3fe; color: white; border-radius: 10px; border: none; padding: 5px;">Buscar</button>
      </form>
</div>
{% endblock %}