{% extends "base.html" %}
{% block title %}Proyecto MSX - Lista de juegos{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Lista de juegos</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Información sobre el juego</h2>
        </header>
        <table>
            <thead>
              <tr>
                <th style="padding: 5px;">Nombre</th>
                <th style="padding: 5px;">Desarrollador</th>
                <th style="padding: 5px;">Detalles</th>
              </tr>
            </thead>
            <tbody>
              {% for juego in juegos %}
              <tr>
                <td style="padding: 5px;">{{ juego['nombre'] }}</td>
                <td style="padding: 5px;">{{ juego['desarrollador'] }}</td>
                <td style="padding: 5px;"><a href="/juego/{{ juego['id'] }}">Detalles</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="/juegos"><img src="../static/img/msx.png" alt="msx_logo" width="252" height="112"></a>
        </section>
</div>
{% endblock %}